.main-container{
    background-color: #93c5fd;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: #f8fafc;
    padding: 20px;
    border-radius: 10px;
    width: 420px;
    height: 220px;
}
.main-heading{
    font-size: 28px;
    color: #323f4b;
}
.select-element{
    height: 30px;
    width: 160px;
    padding-left: 10px;
    border:1px solid #cbd2d9;
    background-color: white;
    cursor:pointer;
}
.label{
    padding-left: 10px;
}
.country-name{
    font-size: 25px;
    color: #1e293b;
    padding-top: 14px;
}